@model projects_portal.ViewModels.CreateModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HZProject</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css  />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="content">
        <div class="container">
            <form asp-action="Create" asp-controller="Home" enctype="multipart/form-data">
                <div class="card border border-0">
                    <div class="card-body">
                        <div class="user-header">
                            <div class="row">
                                <div class="col">
                                    <div class="username text-bg-dark" style="margin-left: 10px; margin-top: 4px">
                                        <h4 class="text-light" style="margin-bottom: 0px">@User.Identity.Name</h4>
                                        <p style="color: #696969"><b>@ViewBag.Group</b></p>
                                    </div>
                                </div>
                                <div class="form-group mt-2" id="gitClass">
                                    <a class="gitEdit text-light" id="gitButton" onclick="addGit()"><b>Добавить Git <img src="/Images/github.png" style="width: 30px; height:25px; padding-left: 5px; margin-bottom: 5px" /></b></a>
                                    <input id="gitInput" class="gitInputClass" type="hidden" asp-for="urlGit" autocomplete="off" placeholder="Ссылка на репозиторий GIT" />
                                </div>
                                <div class="form-group mt-2">
                                    <a class="presentationEdit text-light" id="presentationText" onclick="presentationEdit.click()" style="text-decoration: none"><b>Презентация</b><i class="fa-regular fa-folder" style="padding-left: 10px"></i></a>
                                    <input id="presentationEdit" type="file" onchange="presentationName(this)" name="uploadedPresentation" accept=".pptx" hidden />
                                </div>
                                <div class="form-group mt-2">
                                    <a class="download text-light" id="apkText" onclick="apkEdit.click()" style="text-decoration: none"><b>APK-файл</b><i class="fa-regular fa-file" style="padding-left: 10px"></i></a>
                                    <input id="apkEdit" type="file" onchange="apkName(this)" name="uploadedApk" accept=".apk" hidden />
                                </div>
                            </div>
                            <hr style="background-color: #696969; margin-top: 0px; margin-bottom: 30px" />
                        </div>
                        <div class="user-content">
                            <div class="validation text-light" style="margin-left: 35%" asp-validation-summary="ModelOnly"></div>
                            <div class="box">
                                <div class="form-group">
                                    <a class="image_box btn text-light" float="left" id="imageBtn" onclick="image.click()" style="display: block"><p style="text-align:center; padding-top: 50%" id="imageText">Добавить изображение</p></a>
                                    <div class="boxEdit" style="display: none" id="imageBlock">
                                        <a float="left" onclick="image.click()">
                                            <img style="float: left" id="imageSrc" src="#">
                                        </a>
                                    </div>
                                    <input id="image" type="file" onchange="imageName(this)" name="uploadedImage" accept=".jpg, .png, .jpeg" hidden />
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="name_of_project" style="margin-bottom: 0px" asp-for="NameOfProject" autocomplete="off" required placeholder="Название проекта" />
                            </div>
                            <div class="form-group">
                                <textarea style="padding-left: 8px" placeholder="Описание проекта" required class="description_text" cols="60" rows="10" asp-for="Description" style="border-radius: 10px"></textarea>
                            </div>
                            <div class="form-group" align="right">
                                <input class="name_of_project" style="margin-bottom: 0px; width: 20%; display: inline" asp-for="siteUrl" autocomplete="off" placeholder="URL сайта" />
                                <p style="float: right; padding-left: 20px; padding-top: 8px; padding-right: 10px; color: #696969">@DateTime.Now</p>
                            </div>
                        </div>
                        <div class="validation text-light" asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <button type="submit" class="btn mt-2 rounded-3" style="background-color: #1b1919; color: #808080" align="right">Создать пост</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js asp-append-version="true"></script>
</body>
</html>
