@model IEnumerable<projects_portal.Models.AddProject>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HZ_Project</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <a asp-action="Create" class="fixed-button"><i class="fa-solid fa-plus"></i></a>

    <div class="content">
        <div class="container">
            <div class="card border border-0">
                <div class="card-body">
                    <div class="user-header">
                        <div class="row">
                            <div class="col">
                                <div class="username text-bg-dark" style="margin-left: 10px; margin-top: 4px">
                                    <h4 class="text-light" style="margin-bottom: 0px">MrNigga</h4>
                                    <p style="color: #696969"><b>RPOD4-21R</b></p>
                                    <hr style="background-color: #696969" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-content">
                        <p class="line-limit-length text-light">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <a asp-action="postDetail" asp-controller="home" class="btn btn-light">Читать</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>