@model projects_portal.ViewModels.LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HZProject</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css    />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="registration_header pt-5">
                <h4 align="center" class="text-light">Welcome to HZ_Project</h4>
                <h4 align="center" class="text-light">Let's get started</h4>
                <h4 align="center" class="register_text mt-3" style="padding-bottom: 10px"><b>Login</b></h4>
            </div>
            <form asp-action="Login" asp-controller="Home" enctype="multipart/form-data" asp-antiforgery="true">
                <div class="validation text-light" style="margin-left: 35%" asp-validation-summary="ModelOnly"></div>
                <div class="form-group" align="center">
                    <input type="text" asp-for="Name" class="register-input" placeholder="Name" autocomplete="off" />
                    <input type="password" asp-for="Password" class="register-input" placeholder="Password" autocomplete="off" />
                </div>
                <div class="haveAcc" style="margin-left: 40%; float: left; font-size: 13px" align="center">
                    <p class="text-light" style="margin-bottom: 0px">No account click here</p>
                    <p class="text-light" style="margin-bottom: 0px">
                        <i class="fa-solid fa-arrow-right-long" style="padding-left: 5px; padding-right: 5px"></i>
                        <a class="signIn_text" asp-action="Register" asp-controller="home">
                            <b>Sign up</b>
                        </a>
                    </p>
                </div>
                <div class="form-group" align="center" style="display: inline">
                    <button type="submit" class="signUp_button btn rounded-3 mt-1" style="color: #ffff; margin-left: 15px" align="right">Sign In</button>
                </div>
            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
