@model projects_portal.ViewModels.RegisterModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HZProject</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css   />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="registration_header pt-5">
                <h4 align="center" class="text-light">Welcome to HZ_Project</h4>
                <h4 align="center" class="text-light">Let's get started</h4>
                <h4 align="center" class="register_text mt-3"><b>Register</b></h4>
            </div>
            <form asp-action="Register" asp-controller="Home" enctype="multipart/form-data">
               <div class="form-group" align="center">
                   <input type="text" asp-for="Name" class="register-input" placeholder="Name" autocomplete="off"/>
                   <input type="text" asp-for="Group" class="register-input" placeholder="Group" autocomplete="off"/>
                   <input type="password" asp-for="Password" class="register-input" placeholder="Password" autocomplete="off"/>
                   <input type="password" asp-for="ConfirmPassword" class="register-input" placeholder="Repeat Password" autocomplete="off"/>
               </div>
               <div class="haveAcc" style="margin-left: 40%; float: left; font-size: 13px">
                   <p class="text-light" style="margin-bottom: 0px">You have account</p>
                    <p class="text-light" style="margin-bottom: 0px">
                        click here <i class="fa-solid fa-arrow-right-long" style="padding-left: 5px; padding-right: 5px"></i>
                        <a class="signIn_text">
                            <b>Sign in</b>
                        </a>
                    </p>
               </div>
               <div class="form-group" align="center" style="display: inline">
                    <button type="submit" class="signUp_button btn rounded-3 mt-1" style="color: #ffff; margin-left: 15px" align="right">Sign Up</button>
               </div>
            </form>
        </div>  
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
