@model projects_portal.ViewModels.RegisterModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HZProject</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css   />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="registration_header pt-5">
                <h4 align="center" class="text-light">Добро пожаловать в MonoLOG</h4>
                <h4 align="center" class="text-light">Давайте начнем</h4>
            </div>
            <form asp-action="Register" asp-controller="Home" enctype="multipart/form-data">
               <div class="form-group" align="center">
                   <div class="studentCheckBox" align="center">
                        <label class="t-radio__control">
                            <input type="radio" name="role" onclick="studentButton()" value="student" checked="checked" class="t-radio js-tilda-rule">
                            <div class="radio_button" id="student_btn" style="position: relative; z-index: 99">
                                <b class="radio_text">Студент</b>
                            </div>
                        </label>
                   </div>
                    <div class="teacherCheckBox" style="display: inline" >
                        <label class="t-radio__control">
                            <input type="radio" name="role" onclick="teacherButton()" value="teacher" data-tilda-req="1" class="t-radio js-tilda-rule">
                            <div class="radio_button" id="teacher_btn" style="position: relative; z-index: 98">
                                <b class="radio_text">Учитель</b>
                            </div>
                        </label>
                    </div>

                    <div class="validation text-light" style="text-align:center" asp-validation-summary="ModelOnly"></div>

                    <div class="form-group">
                        <input type="text" asp-for="Name" class="register-input" placeholder="ФИО" required autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <input type="text" asp-for="Group" required="true" id="groupInput" class="register-input" placeholder="Группа" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <input type="text" asp-for="Curator" required="true" id="curatorInput" class="register-input" placeholder="Куратор" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="Code" required="false" id="codeInput" class="register-input" placeholder="Проверочный код" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="Password" class="register-input" placeholder="Пароль" required autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="ConfirmPassword" class="register-input" placeholder="Повторите пароль" required autocomplete="off" />
                    </div>
               </div>
               <div class="haveAcc" style="margin-left: 40%; float: left; font-size: 13px" align="center">
                   <p class="text-light" style="margin-bottom: 0px">Уже есть аккаунт</p>
                    <p class="text-light" style="margin-bottom: 0px">
                        <i class="fa-solid fa-arrow-right-long" style="padding-left: 5px; padding-right: 5px"></i>
                        <a class="signIn_text" asp-action="Login" asp-controller="home">
                            <b>Войти</b>
                        </a>
                    </p>
               </div>
               <div class="form-group" align="center" style="display: inline">
                    <button type="submit" class="signUp_button btn rounded-3 mt-1" style="color: #ffff; margin-left: 15px" align="right">Регистрация</button>
               </div>
            </form>
        </div>  
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
