body {
    background-color: #1b1919;
    margin: 0px 0px;
}
.headerColor {
    background: rgb(228,170,219);
    background: linear-gradient(90deg, rgba(228,170,219,1) 7%, rgba(14,116,215,1) 100%);
}


.right_text {
    display: inline;
}

.fixed-button {
    z-index: 99;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: rgb(228,170,219);
    background: linear-gradient(90deg, rgba(228,170,219,1) 7%, rgba(14,116,215,1) 100%);
    color: #ffffff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.fixed-button i {
    position: relative;
    top: 12px;
    left: 17px;
}

.fixed-button:hover {
    transform: scale(1.1);
    color: #ffffff;
}

.card-body {
    background-color: #2D2D2D;
    border-radius: 20px;
}

.card {
    background-color: #1b1919;
    margin-bottom: 30px;
}

.edit {
    background: rgb(195,255,223);
    background: linear-gradient(90deg, rgba(195,255,223,1) 7%, rgba(7,90,93,1) 100%);
    height: 50%;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    color: #ffff;
}

.git {
    background: rgb(54,54,54);
    background: linear-gradient(90deg, rgba(54,54,54,1) 0%, rgba(17,23,23,1) 94%, rgba(17,23,23,1) 100%);
    height: 50%;
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    color: #ffff;
    margin-left: 10px;
}

.gitEdit {
    background: rgb(54,54,54);
    background: linear-gradient(90deg, rgba(54,54,54,1) 0%, rgba(17,23,23,1) 94%, rgba(17,23,23,1) 100%);
    height: 50%;
    padding: 11px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    color: #ffff;
    margin-left: 10px;
}

.download {
    background: rgb(138,204,141);
    background: linear-gradient(90deg, rgba(138,204,141,1) 0%, rgba(11,144,66,1) 100%);
    height: 50%;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    color: #ffff;
    margin-left: 10px;
}

.box {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 190px;
    float: left;
    margin-left: 10px;
    margin-right: 20px
}

.box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 190px;
    object-fit: cover;
    border-radius: 20px;
}

.description {
    width: 33%;
}

input {
    display: block;
    padding: 10px;
}

.name {
    width: 60%;
    border: 1px solid #1b1919;
    background-color: #1b1919;
    border-radius: 10px;
    color: white;
    outline: none;
}

.group {
    width: 30%;
    border: 1px solid #1b1919;
    background-color: #1b1919;
    border-radius: 10px;
    color: white;
    outline: none;
}

.name_of_project {
    width: 40%;
    border: 1px solid #1b1919;
    background-color: #1b1919;
    border-radius: 10px;
    color: white;
    outline: none;
}

.description_text {
    border: 1px solid #1b1919;
    background-color: #1b1919;
    border-radius: 10px;
    color: white;
    outline: none;
}

.register_text {
    color: rgb(208,175,210);
    background-image: linear-gradient(90deg, rgba(208,175,210,1) 0%, rgba(82,14,145,1) 87%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.register-input {
    border: none;
    border-bottom: 2px solid rgb(54,54,54);
    background-color: transparent;
    color: inherit;
    outline: none;
    width: 20%;
    padding: 0px;
    margin-bottom: 13px;
    color: #ffff;
    font-weight: 600;
}


.signUp_button {
    background: rgb(75,170,158);
    background: linear-gradient(90deg, rgba(75,170,158,1) 33%, rgba(22,95,83,1) 87%);
    height: 50%;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    color: #ffff;
    border: none;
    font-size: 15px;
}

.signIn_text {
    color: rgb(208,175,210);
    background-image: linear-gradient(90deg, rgba(208,175,210,1) 0%, rgba(82,14,145,1) 87%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.btn-delete {
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    background: rgb(190,62,49);
    background: linear-gradient(90deg, rgba(190,62,49,1) 2%, rgba(198,48,48,1) 5%, rgba(182,46,26,1) 17%, rgba(177,35,12,1) 30%, rgba(166,28,4,1) 51%);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    margin-right: 10px;
}

.btn-notDelete {
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    color: rgb(125,74,207);
    background-image: linear-gradient(90deg, rgba(125,74,207,1) 47%, rgba(112,59,213,1) 65%);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border: none
}

.gitInputClass {
    border: 1px solid #1b1919;
    background-color: #1b1919;
    border-radius: 10px;
    color: white;
    margin-right: 10px;
}

.site-text {
    color: rgb(125,74,207);
    background-image: linear-gradient(90deg, rgba(125,74,207,1) 47%, rgba(112,59,213,1) 65%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-right: 30px;
}

.btn-save {
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    background: rgb(51,221,196);
    background: linear-gradient(90deg, rgba(51,221,196,1) 4%, rgba(44,213,188,1) 13%, rgba(32,200,176,1) 22%, rgba(23,195,169,1) 32%, rgba(17,181,156,1) 42%, rgba(13,177,151,1) 52%, rgba(12,179,152,1) 61%, rgba(10,167,142,1) 76%, rgba(6,159,135,1) 89%);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border: none;
}

.btn-confirmDelete {
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    background: rgb(190,62,49);
    background: linear-gradient(90deg, rgba(190,62,49,1) 2%, rgba(198,48,48,1) 5%, rgba(182,46,26,1) 17%, rgba(177,35,12,1) 30%, rgba(166,28,4,1) 51%);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border: none;
}

.boxEdit {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 190px;
    float: left;
}

.boxEdit img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 190px;
    object-fit: cover;
    border-radius: 20px;
}

.presentation {
    background: rgb(221,148,51);
    background: linear-gradient(90deg, rgba(221,148,51,1) 4%, rgba(203,140,44,1) 13%, rgba(223,134,51,1) 25%, rgba(215,126,42,1) 32%, rgba(210,116,33,1) 42%, rgba(203,114,31,1) 52%, rgba(213,110,13,1) 61%, rgba(215,97,24,1) 76%, rgba(214,89,21,1) 89%);
    height: 50%;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    color: #ffff;
    margin-left: 10px;
}

.presentationEdit {
    background: rgb(221,148,51);
    background: linear-gradient(90deg, rgba(221,148,51,1) 4%, rgba(203,140,44,1) 13%, rgba(223,134,51,1) 25%, rgba(215,126,42,1) 32%, rgba(210,116,33,1) 42%, rgba(203,114,31,1) 52%, rgba(213,110,13,1) 61%, rgba(215,97,24,1) 76%, rgba(214,89,21,1) 89%);
    height: 50%;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    color: #ffff;
    margin-left: 10px;
}

.user-footer {
    position: absolute;
    right: 10px;
    bottom: 15px;
}

.favoriteButton {
    border: none;
    background-color: transparent;
}

.site-url {
    color: rgb(125,74,207);
    background-image: linear-gradient(90deg, rgba(125,74,207,1) 47%, rgba(112,59,213,1) 65%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-right: 20px;
}

.studentCheckBox {
    display: inline;
    margin-right: -10px;
}

.teacherCheckBox {
    display: inline;
}

input[type=radio] {
    opacity: 0;
    visablity: hidden;
}

.radio_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgb(29,29,29);
    background: linear-gradient(90deg, rgba(29,29,29,1) 47%, rgba(24,24,24,1) 65%);
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 18px;
}

input[type=radio]:checked + .radio_button{
    background: #2D2D2D
}

.radio_text {
    color: rgb(208,175,210);
    background-image: linear-gradient(90deg, rgba(208,175,210,1) 0%, rgba(82,14,145,1) 87%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.validation {
    list-style-position: inside
}

.image_box {
    width: 150px;
    height: 190px;
    background-color: #1b1919;
    color: #808080;
    border-radius: 20px;
}

.footer {
    background-color: #2D2D2D;
    display: grid;
    grid-template-areas: "a";
    padding-top: 10px;
    padding-bottom: 5px;
}


.footer-container {
    display: flex;
    max-width: 100%;
    height: auto;
    grid-area: a;
    justify-self: center;
}

.footer-item {
    display: inline-block;
    margin-left: 100px;
}

.footer-item p {
    margin-bottom: 0px;
}


.main_text {
    font-size: large;
    color: rgb(208,175,210);
    background-image: linear-gradient(90deg, rgba(208,175,210,1) 0%, rgba(82,14,145,1) 87%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.footer_text {
    color: #DCDCDC;
    font-size: medium;
}