<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - projects_portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="headerColor">
        <div class="container pb-3 pt-2 mb-4">
            <div class="header-menu">
                <div class="header-item">
                    <a style="text-decoration: none" asp-action="Index" asp-controller="home"><h4 class="text-light" style="float: left">HZ_Project</h4></a>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div align="right" class="header-item">
                        <h3 class="right_text text-light" style="font-size: 15px">@User.Identity.Name / <a asp-action="Logout" asp-controller="home" style="text-decoration: none" class="text-light">Exit</a></h3>
                    </div>
                } else
                {
                    <div align="right" class="header-item">
                        <h3 class="right_text text-light" style="font-size: 15px"><a asp-action="Login" asp-controller="home" class="text-light" style="text-decoration: none">Login</a> / <a asp-action="Register" asp-controller="home" style="text-decoration: none" class="text-light">Register</a></h3>
                    </div>
                }
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
